.pageButtons {
    padding-top    : 1rem;
    padding-bottom : 4rem;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    gap            : 1rem;
}