.button {
    font-size  : 1rem;
    line-height: 1.5rem;

    -webkit-box-align: center;
    align-items      : center;
    border-width     : 0.0125rem;
    border-radius    : 0.25rem;
    border-style     : solid;
    display          : inline-block;
    font-weight      : 700;
    -webkit-box-pack : center;
    justify-content  : center;
    user-select      : none;
    text-decoration  : none;
    transition       : all 0.15s ease-in 0s;

    font-size        : 0.875rem;
    line-height      : 1.25rem;
    padding          : 0.4rem 1.25rem;

    background-color : var(--color-primary);
    border-color     : var(--color-primary);

    &:hover:enabled {
        background-color: var(--color-primary-dark);
        border-color    : var(--color-primary-dark);
    }

    &:active:enabled {
        background-color: var(--color-primary);
        border-color    : var(--color-primary);
    }

    &:disabled {
        background-color: var(--color-surface);
        border-color    : var(--color-surface-dark);
    }
}