.container {
    display                : -webkit-box;
    display                : -webkit-flex;
    display                : -ms-flexbox;
    display                : flex;
    -webkit-box-pack       : center;
    -webkit-justify-content: center;
    -ms-flex-pack          : center;
    justify-content        : center;
    position               : relative;
    padding                : 1rem;

    @media screen and (min-width: 48rem) {
        padding: 0.3rem;
    }
}

.image {
    width        : 100%;
    border-radius: 0.1rem;
    padding      : 0.1rem;
    position     : relative;
    aspect-ratio : 16/9;

    img {
        border-radius: 0.3rem;
    }

    @media screen and (min-width: 48rem) {}
}