.container {
    padding-top: 4rem;
    margin     : 0 auto;
    position   : relative;

    @media screen and (min-width: 48rem) {
        padding-left : 0.5rem;
        padding-right: 0.5rem;
    }

    @media screen and (min-width: 80rem) {
        width: 80rem;
    }

    @media screen and (min-width: 64rem) {
        width: 64rem;
    }
}

.pageButtons {
    padding-top    : 1rem;
    padding-bottom : 4rem;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    gap            : 1rem;
}