.container {
    padding-top  : 4rem;
    padding-left : 0.5rem;
    padding-right: 0.5rem;
    margin       : 0 auto;
    position     : relative;

    @media screen and (min-width: 64rem) {
        width: 62rem;
    }

    @media screen and (min-width: 76rem) {
        width: 74rem;
    }

}