.listHeader {
    display        : flex;
    justify-content: space-between;
    font-size      : 1.25rem;
    font-weight    : 700;
}

.filter {
    font-size      : 0.9rem;
    font-weight    : 400;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    gap            : 1rem;
}

.filterButton {
    background-color: #fff;
    border          : 1px solid #fff;
    padding         : 8px 12px;
    border-radius   : 0.3rem;
    font-size       : 1.5rem;
    font-weight     : 300;

    :hover {
        background-color: #000;
    }
}

.genres {
    margin-top   : 0.4rem;
    margin-bottom: 1rem;
}


.movieList {
    display           : grid;
    grid-template-rows: auto;
    -webkit-flex      : 1;
    -ms-flex          : 1;
    flex              : 1;
    width             : 100%;
    grid-gap          : 1rem;
    grid-column-gap   : 1rem;
    grid-auto-flow    : row;
    margin-top        : 1rem;


    @media screen and (min-width: 48rem) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media screen and (min-width: 64rem) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @media screen and (min-width: 76rem) {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}




.canNotFound {
    width     : 100%;
    margin    : 0 auto;
    text-align: justify;
}